@use "../colors/colors.scss" as *;

html[data-theme="light"] {
  --background-color: #{$white-2};
  --color: #{$black-1};

  --primary-color: #{$blue-1};
  --secondary-color: #{$grey-3};

  --header-bg-color: #{$grey-2};

  --card-background-color: #{$white-1};
  --card-border-color: #{$grey-2};
}
