.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  &__cover {
    height: 140px;
    min-width: 100px;

    margin: 0.5rem;

    background-color: lightcyan;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__info {
    flex: 1;
    padding: 0.5rem 1rem;
    align-items: center;

    div {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.5rem;
    }
  }

  &__actions {
    svg {
      cursor: pointer;
    }
  }
}

.odd {
  background-color: rgb(220, 218, 218);
}
