@use "../../sass/colors/colors.scss" as *;

.snackbar {
  position: absolute;
  top: 6vh;
  right: 4vw;
  width: 30rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #{$white-2};
}

.message {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex: 1;

  svg {
    margin-right: 0.5rem;
  }
}

.error {
  background-color: lightgray;
}

.success {
  background-color: yellowgreen;
}
