@use "../../sass/colors/colors.scss" as *;

.snackbar {
  position: absolute;
  top: 6vh;
  right: 4vw;
  width: 30rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #{$white-2};

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;

  &__close-btn {
    &:hover {
      cursor: pointer;
    }
  }

  &.visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s, visibility 0.3s;
  }
}

.message {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex: 1;

  svg {
    margin-right: 0.5rem;
  }
}

.error {
  background-color: rgb(117, 117, 117);
}

.success {
  background-color: yellowgreen;
}
